.danger{
    color:red
}

  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    margin-right: 160px;
  }
  .logout{
    
      float: right;
      margin-right: 11px;
  
  }
  

  .nav_bar{
    height: 40px;
    background-color: blueviolet;
    position: sticky;
    top:0;
    margin-left: 160px;
    margin-right: 160px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:blueviolet; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .float_right{
    float: right;
  }
  .float_left{
    float: left;
  }