.nav_list{
    list-style-type: none;
}

.nav_item a{
    float: left;
    margin:5px 10px;
    color:white;
    
}
.nav_item a:hover{
    color:tomato;
    
}
.nav_item a:active{
  font-size: 20px;    
}